*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box1 {
    height: 28vh;
    width: 95%;
    margin: 25px auto;
    border: 5px solid black;
}

.object-one {
    height: 65%;
    width: 3%;
    display: inline-block;
    position: relative;
    left: 10px;
    top: 10px;
    background: #9430B9;
}

.object-two {
    height: 90%;
    width: 30%;
    display: inline-block;
    position: relative;
    left: 60px;
    top: 10px;
    background: green;
}

.object-three {
    height: 220px;
    width: 220px;
    border-radius: 110px;
    background: #22BAE3;
    display: inline-block;
    position: relative;
    left: 125px;
    top: 10px;
}

.box2 {
    height: 40vh;
    width: 95%;
    margin: 25px auto;
    border: 5px dotted black;
}

.rectangle {
    height: 80%;
    width: 90%;
    margin: 30px auto;
    background: #F2F1C4;
    box-shadow: 10px 10px 12px;
}

.box3 {
    height: 30vh;
    width: 50%;
    margin: 25px auto;
    box-shadow: 1px 1px 1px grey;
}

h2 {
    color: darkblue;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 7px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}